// Base Colors
$color-black: #000;
$color-white: #fff;
$bckgrd: #372f33;
$light-purple: #f300ff;
$dark-purple: #9244c8;
$pink: #d57ba2;
$light-grey: #d9dee6;
$dark-grey: #5e5d5d;
$red: #f81621;
$muddy-purple: #905985;
$almost-black: #191919;
