#mainHome {
  position: relative;
}

@keyframes backgroundScroll{
  from{
    background-position: 0%;
  }
  to{
    background-position: 100%;
  }
}

#landingSect{
  background: url('../images/hero-bckgd-md.jpg');
  //background-position: center;
  background-position: 100%;
  animation: backgroundScroll 20s linear;
  background-size: cover;
  // position: fixed;

  overflow-y: hidden;
  height: 100vh;
  width: 100%;
  z-index: 1;
  transition: all 1.5s ease;
  overflow-x: hidden;
  @media screen and (min-width: 850px) {
    background: none;
    position: fixed;
  }
  #sectionbckgd {
    display: none;
    @media screen and (min-width: 850px) {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      min-height: 100vh;
      margin-top: -70px;
      z-index: 1;
      overflow: hidden;
    }
    img {
      @media screen and (min-width: 850px) {
        min-height: 100%;
        transform: scale(1.0);
        transform-origin: center;
        transition: all 1.5s ease;
        filter: none;
      }
    }
  }

  #heroTitle{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid #fff;
    padding: 20px;
    background: rgba(0,0,0,0.3);
    transition: all 0.8s ease;

    @media screen and (min-width: 850px){
      display: block;
      background: none;
      position: absolute;
      z-index: 2;
      height: auto;
      top: 40%;
      left: 100px;
      opacity: 0;
    }

    #titleLogo{
      height: 50px;
    }

    .title-font{
      font-family: 'Raleway-Regular', sans-serif;
      font-size: 40px;
      color: #fff;
    }

    .tagline{
      font-family: 'Patrick Hand', sans-serif;
      //font-size: 30px;
      font-size: 25px;
      text-align: center;
      color: #fff;
    }
  }

  #img{
    display: none;
    @media screen and (min-width: 850px) {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 3;
      transition: all 0.8s ease;
    }
    img {
      width: auto;
      max-width: 500px;
      margin-top: 175px;
      transform: scale(1.0);
      transition: all 0.8s ease;
      transform-origin: (right top);
    }
  }
}


#contentCon {
  @media screen and (min-width: 850px) {
    position: relative;
    z-index: 0;
    background-color: #fff;
  }
}

#mainDesc {

  text-align: center;
  padding: 50px 10% 50px 10%;
  background-color: #fff;
  h2 {
    @media screen and (min-width: 850px) {
      font-size: 7.5em;


    background-color: #fff;
    padding: 50px 10px;
    @media screen and (min-width: 600px){
    padding: 50px 10% 50px 10%;
    text-align: center;
    }


    h2 {

        @media screen and (min-width: 850px){
          font-size: 7.5em;
        }
    }

    p {
        font-size: 1.5625em;
        line-height: 40px;

    }
  }
  p {
    font-size: 1.5625em;
    line-height: 40px;
  }
}
}

#videoSect {
  height: 100vh;
  width: 100vw;
  margin-bottom: 20px;
}

.fullscreen-vid-wrap {
  overflow: hidden;
  video {
    width: 100%;
    height: 100%;
  }
}

#picSect {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr;
  @media screen and (min-width: 600px) {
    max-width: 1200px;
    padding: 10px 0;
    background-color: #fff;
    margin: 0 auto; //display: grid;
    //grid-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr; //grid-column-gap: 10px;
    //grid-row-gap: 10px;
    //max-width: 1540px;
    justify-content: center;
  }
  .box {
    max-width: 100%;
    min-height: 300px;
    display: relative; //background-color: grey;
    //overflow-y: hidden;
    background-size: cover;
    background-position: center; //margin: 0 auto;
    //&:first-child{
    background-image: url('../images/concert-web@2x.png');
    @media screen and (min-width: 600px) {
      grid-column: 1 / 2;
      grid-row: 1/2; //overflow: hidden;
    } //}
  }
  .box::after {
    content: "PLAY";
    color: #fff;

    font-size: 40px; //font-weight: 700;

    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    //font-weight: 700;

    //padding-left: 20px;
    //padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 300px;
    position: relative;
    z-index: 9; //top: 100%;
    top: 0px; //margin-top: -75px;
    left: 0px;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.8); //background-color: #fff;
  }
  .box:nth-child(2) {
    background-image: url('../images/water-web@2x.png');
    @media screen and (min-width: 600px) {
      grid-column: 2 / -1;
      grid-row: 1/2;
    }
    &::after {
      content: "RELAX";
    }
  }
  .box:nth-child(3) {
    background-image: url('../images/canoe-web@2x.png');
    @media screen and (min-width: 600px) {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
    &::after {
      content: "ENJOY";
    }
  }
  .box:nth-child(4) {
    background-image: url('../images/toronto-site@2x.png');
    @media screen and (min-width: 600px) {
      grid-row: 2 / 3;
      grid-column: 3 / -1;
    }
    &::after {
      content: "EXPERIENCE";
    }
  }
}
